{% extends 'home/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h2>Pagina de mi perfil</h2>
<div>
    <p>Detalles de mi cuenta:</p>
    <table>
        <tr>
            <td>Nombre de usuario:</td>
            <td>{{ session['username'] }}</td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td>{{ session['password'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ session['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}