{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}

<div class="register">
	{% include "include/alert.html" %}
    <h1>Registro</h1>
    <div class="links">
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}" class="active">Registro</a>
    </div>
    <form action="{{ url_for('register') }}" method="post" autocomplete="off">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Nombre de usuario" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Contraseña" id="password" required>
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Correo electrónico" id="email" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Registrar">
    </form>
</div>
{% endblock %}